#team-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#season {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

#season img {
    width: 1rem;
    margin: 1.2rem;
}

#season span {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

table {
    width: 80%;
    margin-top: 1.5rem;
    padding: 0 6rem;

	border-spacing: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

table.left {    
    left: 0%;
    width: 50%;
    
    padding-left: 3rem;
    padding-right: 0;
    
    transform: translateX(0);
}

th, td {
    text-align: center;
}

th {
    height: 4.5rem;
    
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;

    background-color: #EDEDED;
}

td {
    height: 5.5rem;
    
    font-size: 1.5rem;
    font-style: normal;
    margin-bottom: 5rem;
}

#team-info {
    display: flex;
    align-items: center;
}

#team-info img {
    width: 5rem;
}

.team-more-info {
	display:flex;
	width: 38%;
    flex-direction: column;
    align-items: center;
	
    position: fixed;
    right: 0;

	margin: 1.5rem 3rem 0 0;
	padding: 3rem;
	
    
    border-radius: 1.5rem;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);
    
	visibility: hidden;
	opacity: 0;
  	transform: scaleX(0);
    transition: all 0.3s ease;
}

.team-close-btn {
	position: absolute;
	top: -0.3rem;
	right: 1rem;
	
	font-size: 2.6rem;
	font-weight: 700;
}

#team-more-info-title {
	display: flex;
	
	margin-bottom: 1rem;
}

#team-more-info-title-contents {
	display: flex;
    flex-direction: column;
}

.gage-bg {
    width: 18rem;
    height: 1.3rem;
    background-color: #EDEDED;
}

.gage {
    width: 12rem;
    height: 1.3rem;
    background-color: #00A842;
    box-shadow: inset 1px 1px 15px #C9C9C9;
}

#team-more-info-contents {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#team-more-info-contents span {
	margin-right: 1rem;
	
	font-weight: 700;
}

#team-more-info-goal, #team-more-info-shot, #team-more-info-pass, #team-more-info-tackle {
	display: flex;
	margin: 0.4rem;
	
	align-items: center;
}

#team-more-info-img {
	height: 8rem;
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
}