* {
	font-family: 'Inter', sans-serif;
}

body {
	width: 100%;
}

html {
	background-color: white;
}

header {
	height: 8.25rem;
	width: 100%;
	flex-shrink: 0;
	padding: 2.25rem;
	position: sticky;
	top: 0;
	z-index: 99;
	background-color: #fff;
	margin: auto;
}

#header * {
	background-color: #fff;
}

#header img {
	width: 6.5rem;
	height: 8.25rem;
	flex-shrink: 0;
}

#header div.inner {
	display: flex;
}

#header div.inner div.navi {
	height: 4.1875rem;
	flex-shrink: 0;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 8rem;
}

#header div.inner div.navi a {
	color: #000;
	font-size: 3.4375rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-left: 8rem;
}

#header div.inner div.navi a.selected {
	color: #37003C;
	font-size: 3.4375rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-decoration: underline;
	text-underline-position: under;
}

#header a {
	text-decoration: none;
}

.real_body {
	position: relative;
	display: block;
}

.subtitle {
	position: relative;
	width: 1920px;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-radius: 15px;
	background: #37003C;
	background-size: cover;
	background-repeat: no-repeat;
}

.subtitle_div {
	width: 100%;
	height: auto;
	flex-shrink: 0;
	margin-top: 62px;
	margin-bottom: 62px;
	align-self: start;
	display: flex;
}

.subtitle_div#home {
	top: 0%;
	left: 0%;
	justify-content: flex-end;
}

.center_div {
	top: 0%;
	left: 0%;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	margin-top: 62px;
	margin-bottom: 62px;
	flex-shrink: 0;
	align-self: start;
	position: relative;
}

.subtitle_div#away {
	top: 0%;
	left: 0%
}

.subtitle_group {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	display: block;
}

.subtitle_group#home {
	justify-content: flex-end;
}

.team_title {
	display: flex;
	width: 100%;
	height: 130px;
	align-items: flex-start;
	flex-shrink: 0;
}

.team_title#home {
	align-items: flex-end;
	justify-content: flex-end;
}

.team_name_div {
	display: flex;
	width: 284px;
	height: 130px;
	align-items: center;
	flex-shrink: 0;
}

.team_img_div {
	display: flex;
	width: 161.174px;
	height: 130px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.team_logo {
	width: 161.174px;
	height: 130px;
	flex-shrink: 0;
	border-color: white;
}

.detail_img_div {
	display: flex;
	width: 49.592px;
	height: 56.25px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.detail_action {
	width: 49.592px;
	height: 56.25px;
	flex-shrink: 0;
}

.detail_name_div {
	display: flex;
	width: 351px;
	height: 53px;
	align-items: center;
	flex-shrink: 0;
}

.detail_name_div#home {
	justify-content: flex-end;
}

.team_name {
	color: #FFF;
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 183.491px;
	height: 60px;
	flex-shrink: 0;
}

.team_event {
	padding-top: 39px;
	display: flex;
	flex-direction: column;
	height: auto;
	padding-top: 39px;
	flex-shrink: 0;
}

.team_event#home {
	align-items: flex-end;
}

.team_event_detail {
	display: flex;
	width: 400.456px;
	height: 56.25px;
	padding-right: 0px;
	justify-content: center;
	align-items: center;
	gap: 12.398px;
	flex-shrink: 0;
}

.team_event_detail#away {
	flex-direction: row-reverse;
}

.detail_name_div {
	display: flex;
	width: 100%;
}

.detail_name {
	color: #FFF;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.detail_name#home {
	text-align: right;
}

.detail_img_div {
	width: 49.592px;
	height: 56.25px;
	flex-shrink: 0;
}

.center_group {
	position: absolute;
	top: 0%;
	left: 0%;
	height: auto;
	width: 100%;
	display: block;
}

.score_div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	display: flex;
	width: 100%;
	height: 159px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.date_div {
	display: flex;
	width: 100%;
	height: 36px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.stadium_div {
	display: flex;
	width: 100%;
	height: 53px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.score {
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 80px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.date {
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
}

.stadium {
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
}

.log_div {
	display: flex;
	width: 1920px;
	height: auto;
}

.formation_div {
	display: flex;
	width: 30%;
	height: 1154px;
	padding: 116px 32px 118px 32px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.formation_group {
	display: flex;
	flex-direction: column;
	width: 566px;
	height: 920px;
	flex-shrink: 0;
	border-radius: 15px;
	background: #EEE;
	width: 566px;
}

.form_str_div {
	display: flex;
	width: 207px;
	height: 60px;
	flex-shrink: 0;
	padding: 20px 179px 20px 180px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	height: 60px;
	flex-shrink: 0;
}

.form_info {
	display: flex;
	width: 100%;
	height: 100%;
}

.form_info_pic {
	display: flex;
	width: 76px;
	height: 60px;
	padding: 0px 6.358px 0px 7px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.form_info_str {
	display: flex;
	width: 132px;
	height: 60px;
	padding: 0px 6.358px 0px 7px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.field_div {
	display: flex;
	width: 566px;
	height: 721px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background-image: url("./pics/field.png");
}

.log_group {
	width: 100%;
	display: inline-flex;
	padding: 92px 64px 59px 124px;
	justify-content: flex-end;
	align-items: center;
	height: auto;
}

.log_list {
	display: flex;
	width: 35%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.log_list#home {
	padding-right: 10px;
}

.log_list#away {
	padding-left: 10px;
}

.log_oneline {
	display: inline-flex;
	height: 70px;
	padding: 7px 59px 13px 0px;
	align-items: center;
	flex-shrink: 0;
}

.log_oneline#away {
	flex-direction: row-reverse;
}

.event_player {
	display: flex;
	width: 232px;
	height: 97px;
	padding: 5px 5px 5px 5px;
	align-items: center;
	flex-shrink: 0;
}

.event_type {
	display: flex;
	width: 109px;
	height: 97px;
	padding: 5px 5px 5px 5px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.event_img {
	width: 70%;
	height: 70%;
}

.event_time_div {
	width: 101.271px;
	height: 97px;
	flex-shrink: 0;
}

.event_name {
	color: #000;
	font-family: Inter;
	font-size: 28px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.event_time {
	color: #000;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.form_info_p {
	display: flex;
	width: 132px;
	height: 60px;
	padding: 9px 0.497px 9px 1px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.lineup_div {
	display: flex;
	width: 1920px;
	height: auto;
}

.lineup_group {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	padding: 0px 0px 64px 12px;
	align-items: flex-start;
}

.lineup_list_empty {
	width: 295px;
	height: auto;
}

.lineup_list_div {
	display: flex;
	width: 743px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lineup_list_group {
	width: auto;
	height: auto;
}

.each_role {
	display: flex;
	width: 764px;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.each_role#home {
	padding-left: 33%;
}

.each_role#away {
	padding-right: 33%;
}

.role_title {
	display: flex;
	width: 506px;
	height: 63px;
	align-items: center;
	flex-shrink: 0;
}

.role_title#home {
	padding-left: 292px;
	justify-content: flex-end;
}

.role_title#away {
	padding-right: 292px;
}

.role_lineup {
	display: flex;
	width: 100%;
	height: auto;
	padding-right: 21px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	flex-shrink: 0;
}

.player_each#away {
	flex-direction: row-reverse;
}

.player_each {
	display: flex;
	width: 100%;
	height: 237px;
	justify-content: flex-end;
	align-items: flex-start;
	flex-shrink: 0;
}

.player_info {
	display: flex;
	width: 340px;
	height: 100%;
	padding-right: 31px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-shrink: 0;
	padding-right: 31px;
}

.player_img {
	display: flex;
	width: 176px;
	padding: 54px 0px 0px 35px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	flex-shrink: 0;
}

.player_name {
	color: #000;
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.player_name#home {
	text-align: right;
}

.role_name {
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 62px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.player_team {
	color: #000;
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.player_team#home {
	text-align: right;
}

.each_role_empty {
	width: 776px;
	height: 63px;
	flex-shrink: 0;
}

.name_div {
	display: flex;
	width: 297px;
	height: 183px;
	justify-content: center;
	align-items: center;
}

.team_div {
	display: flex;
	width: 297px;
	height: 54px;
	justify-content: center;
	align-items: center;
}

.player_pic {
	width: 141px;
	height: 183px;
}

.field_in {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50%;
	flex-grow: 1;
}

.field_in#away {
	flex-direction: column-reverse;
}

.formation_row {
	display: flex;
	flex-grow: 1;
}

.formation_col {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.team_form_logo {
	width: 62.642px;
	height: 60px;
	flex-shrink: 0;
}

.form_each {
	width: 52.201px;
	height: 50px;
	flex-shrink: 0;
}

.form_info_p {
	color: #000;
	font-family: Inter;
	font-size: 35px;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
}

.eval_div {
	display: flex;
	width: 1758px;
	height: 79px;
	justify-content: center;
	align-items: flex-start;
	flex-shrink: 0;
}

.eval_star_div {
	display: flex;
	width: 870px;
	height: 79px;
	padding: 8px 0px 9px 577px;
	justify-content: flex-end;
	align-items: center;
	flex-shrink: 0;
}

.score_button_div {
	display: flex;
	width: 888px;
	height: 79px;
	padding: 8px 401px 8px 174px;
	align-items: center;
	flex-shrink: 0;
}

.star_info {
	width: 575px;
	height: 79px;
	flex-shrink: 0;
}

.star_div {
	display: flex;
	height: 79px;
	padding: 8px 2px 9px 0px;
	justify-content: center;
	align-items: flex-start;
	gap: 6.066px;
}

.star_each {
	width: 54.064px;
	height: 62px;
}

.star {
	width: 100%;
	height: 100%;
}

.star_p {
	color: #000;
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin:0px;
}

.button_b {
	width: 313px;
	height: 63px;
	flex-shrink: 0;
	border-radius: 15px;
	background: #EEE;
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}